/* reset */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

ul,
ol {
    margin: 0px;
    padding-left: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* svg {
  display: block;
} */

/* img {
  display: block;
} */

/* reset */



/* section my favorites */


.my-favorites {
    padding: 20px 0;
}

.my-favorites {

}

@media screen and (min-width: 335px) and (max-width: 768px) {
    .my-favorites__container {
        max-width: 335px;
    }
}




.my-favorites__hero {
    margin-bottom: 40px;
}

.my-favorites__hero {

    background-image:
        url('../../images/hero_favorites/mobile_1x.png');
    min-height: 516px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    
}

@media (-webkit-min-device-pixel-ratio: 2),
(min--moz-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .my-favorites__hero {
        background-image:
            url('../../images/hero_favorites/mobile_2x.png');
    }
}

@media screen and (min-width: 768px) {
    .my-favorites__hero {
        background-image:
            url('../../images/hero_favorites/tablet_1x.png');
        min-height: 356px;
    }
}



@media screen and (min-width: 1280px) {
    .my-favorites__hero {
        background-image:
            url('../../images/hero_favorites/descktop_1x.png');
        min-height: 356px;
    }
}



/* section my favorites */


/* category */

.my-favorites__category {
    margin-bottom: 20px;
}

.my-favorites-category__container {

}

.my-favorites-category__content {

}

.my-favorites-category__list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.my-favorites-category__item-list {
    cursor: pointer;
    padding: 14px 18px;

    border-radius: 15px;

    outline: 1px solid rgba(5, 5, 5, 0.20);
    background-color: transparent;

    color: rgba(5, 5, 5, 0.30);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3; 
}



.my-favorites-category__item-list:hover {
    background-color: #9BB537;
    color: #F8F8F8;
}

.my-favorites-category__item-list.active {
    background-color: #9BB537;
    color: #F8F8F8;
}



.text-item-category {
    color: rgba(5, 5, 5, 0.30);
}

/* category */




/* my-favorites__cards */

.my-favorites__cards {

}

/* my-favorites__cards */

/* card list */

.my-favorites-cards__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

/* card list */


/* card item*/

.card__item {
    position: relative;
    width: 305px;
    height: 335px;
    overflow: hidden;

    border-radius: 8px;


    background: linear-gradient(1deg, #050505 0%, rgba(5, 5, 5, 0.00) 100%)
}

.card__img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: block; */
}

@media screen and (min-width: 375px) {
    .card__item {
        width: 335px;
    }
}

@media screen and (min-width: 768px) {
    .card__item {
        width: 224px;
        width: calc((100% - 32px) / 3);
        height: 244px;
    }
}

@media screen and (min-width: 1280px) {
    .card__item {
        /* width: 258px; */
        width: calc((100% - 48px) / 4);
        height: 287px;

    }
}


.favorites__container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.favorite-heart {
    
    padding: 5px;
}
.favorite-heart:hover,
.favorite-heart:focus {
    cursor: pointer;
}

.card__info {
    padding: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@media screen and (min-width: 658px) and (max-width: 1280px) {
    .card__info {
        padding: 13px 12px;
    }
}

.card-info__container {

}

.card-info__description {

}

.card-info__title {
    margin: 0 0 8px 0;

    color: #F8F8F8;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
    text-transform: uppercase;
}


.card-info__sub-title {
    /* height: 32px; */
    margin: 0 0 16px 0;

    text-align: left;
    overflow: hidden;
    color: #F8F8F8;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3;
}



.card-info__actions {

}

.card-info-actions__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}



.card-info-actions__rating {

}

.card-info-actions-rating__container {
    display: flex;
    gap: 2px;
    align-items: center;
}

.card-info-actions-rating__text {
    color: white;
    font-size: 14px;
}

.card-info-actions-rating__stars {
    position: relative;
    display: flex;
    /* gap: 3px; */
     
}


.card-info-actions-rating__star-container {

}

.card-info-actions-rating__star-svg {

}

.star-svg {
    width: 18px;
    height: 18px;
}

@media screen and (min-width: 768px) {
    .star-svg {
        width: 16px;
        height: 16px;
    }
}


.card-info-actions__see-description {

}

.card-info-actions__see-description-btn {

}

.see-description-btn {
    font-size: 12px;
    border: 1px solid #9BB537;
    outline: none;
    padding: 8px 13px;
    color: #FFF;
    border-radius: 8px;
    background: #9BB537;

    transition: all .3s ease;
}

.see-description-btn:hover {
    background-color: transparent;
    border: 1px solid #9BB537;
    transition: all .3s ease;
}

/* card item*/


/* empty-favorites */

.my-faforites__empty {
    padding: 256px 0;
}

@media screen and (min-width: 768px) {
    .my-faforites__empty {
        padding: 64px 0;
    }
}


.my-favorites-empty__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.my-favorites__empty-svg-container {

}

.my-favorites__empty-svg {

} 

.empty__svg {

}


.my-favorites-empty__text-container {

}

@media screen and (min-width: 768px) {
    .my-favorites-empty__text-container {
        max-width: 480px
    }
}

.my-favorites-empty__title {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3; 
}



/* empty-favorites */


/* pagination */

.pagination-wrap {
    padding: 45px 0;
}

/* @media screen and (max-width: 768px) {
    .pagination-wrap {
        display: none;
    }
} */

.pagination-wrap > button.button {
    width: 30px;
    height: 30px;
}

/* pagination */


/* dark */

body.dark-theme .my-favorites-category__item-list {
    outline-color: rgba(255, 255, 255, 0.20);
    color: rgba(255, 255, 255, 0.50);
}

body.dark-theme .my-favorites-category__item-list.active {
    color: #f8f8f8;
}

body.dark-theme .card-info__title {
    color: #fff
}

body.dark-theme .card-info__sub-title  {
    color: rgba(255,255,255, .80);
}

/* dark */