<div class="mobile-menu js-mobile-menu-container body-scroll-lock">
  <div class="mobile-menu-container">
    <button type="button" class="mobile-menu-close-btn js-close-mobile-menu">
      <svg class="mobile-menu-close-btn-icon" width="20" height="20">
        <use href="/src/images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="mobile-nav">
      <ul class="mobile-nav-list list">
        <li class="mobile-nav-item">
          <a href="/src/index.html" class="mobile-nav-link modal-link-home links">Home</a>
        </li>
        <li class="mobile-nav-item">
          <a href="/src/favorites.html" class="mobile-nav-link modal-link-favorites links"
            >Favorites</a
          >
        </li>
      </ul>
    </nav>
    <div class="modal-theme-checkbox">
      <input  type="checkbox" id="theme-toggle" />
      
    </div>
  </div>
  
</div>
