<div class="mobile-menu js-menu-container body-scroll-lock">
   <div class="mobile-menu-container">
     <button type="button" class="mobile-menu-close-btn js-close-menu">
       <svg class="mobile-menu-close-btn-icon" width="12" height="12">
         <use href="/src/images/icons.svg#icon-close"></use>
       </svg>
     </button>
     <nav class="mobile-nav">
       <ul class="mobile-nav-list list">
         <li class="mobile-nav-item">
           <a href="/src/index.html" class="mobile-nav-link link">Home</a>
         </li>
         <li class="mobile-nav-item">
           <a href="#" class="mobile-nav-link link"
             >Favorites</a
           >
         </li>
        
        
         
       </ul>
     </nav>
     
   </div>
 </div>