<div class="categories-bloc">
    <button type="button" class="categories-btn "> All categories</button>
    <ul class="categories-list categories-scrollbar">
        <li class="js-categories-item">
            <button class="js-categories-item-btn">beef</button>
        </li>
        <li class="js-categories-item">
            <button class="js-categories-item-btn">beef</button>
        </li>
        <li class="js-categories-item">
            <button class="js-categories-item-btn">beef</button>
        </li>
        <li class="js-categories-item">
            <button class="js-categories-item-btn">beef</button>
        </li>
        <li class="js-categories-item">
            <button class="js-categories-item-btn">beef</button>
        </li>
        <li class="js-categories-item">
            <button class="js-categories-item-btn">beef</button>
        </li>
        <li class="js-categories-item">
            <button class="js-categories-item-btn">beef</button>
        </li>
        <li class="js-categories-item">
            <button class="js-categories-item-btn">beef</button>
        </li>
        <li class="js-categories-item">
            <button class="js-categories-item-btn">beef</button>
        </li>
        <li class="js-categories-item">
            <button class="js-categories-item-btn">beef</button>
        </li>
        <li class="js-categories-item">
            <button class="js-categories-item-btn">beef</button>
        </li>
        <li class="js-categories-item">
            <button class="js-categories-item-btn">beef</button>
        </li>
        <li class="js-categories-item">
            <button class="js-categories-item-btn">beef</button>
        </li>
        <li class="js-categories-item">
            <button class="js-categories-item-btn">beef</button>
        </li>
        <li class="js-categories-item">
            <button class="js-categories-item-btn">beef</button>
        </li>
        <li class="js-categories-item">
            <button class="js-categories-item-btn">beef</button>
        </li>
    </ul>
</div>