<div class="filter-form-wrapper">
    <form class="filter-form" action="">

        <input class="filter-form-input" type="text" name="search" placeholder="Enter text">
        <select class="filter-form-select">
        </select>
        <select class="filter-form-selec " name="selectTime" id="searchTime">
            <option class="filter-form-select-time " value="">5 min</option>
        </select>
        <select class="filter-form-select" name="" id=""></select>
    </form>
</div>

<script src="./js/filter.js" type="module"></script>