<div class="filter-form-wrapper">
    <form class="filter-form" action="" id="searchForm">

        <label class="filter-item">
            <span class="filter-item-tittle">Search</span>

            <span class="filter-form-input-wrap">
                <input class="filter-form-input" type="text" id="searchQuery" name="query" placeholder="Enter text"
                    pattern="[a-zA-Z]+">
                <svg class="filter-input-search-icon">
                    <use href="./images/forcard.svg#icon-search" width="16" height="16"></use>
                </svg>
                <span class="filter-input-reset-container"><button class="filter-input-reset-btn" type="button">
                        <svg class="filter-input-reset-icon">
                            <use href="./images/forcard.svg#icon-xdark" width="16" height="16"></use>
                        </svg></button></span>

            </span>
        </label>

        <label class="filter-item ">
            <span class="filter-item-tittle">Time</span>
            <span class="filter-item-time">

                <select class="filter-form-select " name="time" id="searchTime">
                    <option class="filter-form-select-time " value="">5 min</option>

                    <!-- тут буде багато опцій з JS -->
                </select>

            </span>
        </label>




        <label class="filter-item">
            <span class="filter-item-tittle">Area</span>
            <span class="filter-item-area">
                <select class="filter-form-select " name="area" id="area-select">
                </select>
            </span>
        </label>

        <label class="filter-item">
            <span class="filter-item-tittle">Ingredients</span>
            <span class="filter-item-ingredients">
                <select class="filter-form-select" name="ingredients" id="ingredients-select"></select>
            </span>
        </label>
    </form>
</div>

<div class="filter-gallery">

    <div class="filter-reset-wrap">
        <button type="button" class="filter-reset-btn">
            <svg class="filter-reset-btn-icon">
                <use class="filter-reset-btn-icon" href="./images/forcard.svg#icon-xdark" width="16" height="16"></use>
            </svg>
        </button>
        <p>Reset the filter</p>
    </div>
    <!-- тут прийдуть картки з бекенду поки що тимчасові блоки -->
    <ul class=" filter-gallery-list">

        <!-- 
        <li>
            <img src="#" alt="">
            <div class="filter-gallery-item-content">
                <div class="filter-gallery-item-favorit-btn">
                    <svg>
                        <use href="#"></use>
                    </svg>
                </div>
                <h3 class="filter-gallery-item-tittle"></h3>
                <p class="filter-gallery-item-description"></p>
                <div>
                    <p class="filter-gallery-item-rating-value"></p>
                    <div class="filter-gallery-item-rating-icon"></div>
                </div>
                <button type="button">See recipe</button>
            </div>
        </li>
        <li class="filter-gallery-item"></li>
        <li class="filter-gallery-item"></li>
        <li class="filter-gallery-item"></li>
        <li class="filter-gallery-item"></li>
        <li class="filter-gallery-item"></li>
        <li class="filter-gallery-item"></li>
        <li class="filter-gallery-item"></li> -->

    </ul>
</div>

<script src="./js/filter.js" type="module"></script>