<div class="filter-form-wrapper">
    <form class="filter-form" action="">

        <label class="filter-item">
            <span class="filter-item-tittle">Search</span>
            <span>
                <input class="filter-form-input" type="text" id="searchQuery" name="query" placeholder="Enter text">
            </span>
        </label>

        <label class="filter-item">
            <span class="filter-item-tittle"></span>
            <span>

                <select class="filter-form-select " name="selectTime" id="searchTime">
                    <option class="filter-form-select-time " value="">5 min</option>
                </select>
            </span>
        </label>




        <label class="filter-item">
            <span class="filter-item-tittle"></span>
            <span>
                <select class="filter-form-select " name="" id="">
                </select>
            </span>
        </label>

        <label class="filter-item">
            <span class="filter-item-tittle"></span>
            <span>
                <select class="filter-form-select" name="" id=""></select>
            </span>
        </label>



    </form>
</div>

<script src="./js/filter.js" type="module"></script>