<footer class="site-footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <p>© 2023-2024 All rights reserved.</p>
        <p>Address: 123 Shevchenko str., Kyiv</p>
        <p>Phone: +380730000000</p>
      </div>
      <div class="feedback-section">
        <h3>Feedback</h3>
        <p>Enter your email address and we will contact you!</p>
        <form id="feedbackForm" method="post">
          <input
            type="email"
            name="email"
            placeholder="Your email address"
            required
          />
          <button type="submit" class="button-gap">Send</button>
        </form>
      </div>
      <div class="footer-section">
        <h3 class="footer-media-title">Follow Us</h3>
        <ul class="footer-media f-list">
          <li class="footer-media-item">
            <a
              class="footer-media-link"
              href="https://www.facebook.com"
              target="_blank"
            >
              <svg class="footer-media-icon">
                <use href="./images/icons.svg#icon-facebook-1"></use>
              </svg>
            </a>
          </li>
          <li class="footer-media-item">
            <a
              class="footer-media-link"
              href="https://www.instagram.com"
              target="_blank"
            >
              <svg class="footer-media-icon">
                <use href="./images/icons.svg#icon-instagram-2"></use>
              </svg>
            </a>
          </li>
          <li class="footer-media-item">
            <a
              class="footer-media-link"
              href="https://www.linkedin.com"
              target="_blank"
            >
              <svg class="footer-media-icon">
                <use href="./images/icons.svg#icon-linkedin-1"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <button id="btn-to-top" class="show-btn">
    <svg class="icon-to-top" width="30" height="30">
      <use href="./images/icons.svg#icon-arrow-up"></use>
    </svg>
  </button>
</footer>
<!-- <script src="./js/btn-to-top.js" type="module"></script> -->
