<section class="footer section container">
  <div class="footer_container ">
    <p class="footer_copyright">© 2023 | All Rights Reserved |</p>
    <div class="footer_wrapper">
      <p class="footer_desc">
        Developed with
        <svg class="footer_icon" width="14" height="13">
          <use href="./images/icons.svg#icon-heart"></use>
        </svg>
        <span class="footer_text">by</span>
      </p>
      <p class="footer_draw-text">
        <button class="footer_link footer_draw-link btnOpenNow" id="teamOpenBtn" data-event="false" type="button">
          GoIT Students
        </button>
      </p>
    </div>
  </div>
</section>
<button id="btn-to-top" class="show-btn">
  <svg class="icon-to-top" width="30" height="30">
    <use href="./images/icons.svg#icon-arrow-up"></use>
  </svg>
</button>
<!-- <script src="./js/btn-to-top.js" type="module"></script> -->
<!-- <script src="./js/modal_our_team.js" type="module"></script> -->