<button id="btn-to-top" class="is-hidden">
  <svg class="icon-to-top" width="30" height="30">
    <use href="./images/icons.svg#icon-arrow-up"></use>
  </svg>
</button>

<footer class="site-footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <p>© 2023-2024 All rights reserved.</p>
        <p>Address: 123 Shevchenko str., Kyiv</p>
        <p>Phone: +380730000000</p>
      </div>
      <div class="footer-section">
        <h3 class="footer-media-title">Follow Us</h3>
        <ul class="footer-media f-list">
          <li class="footer-media-item">
            <a
              class="footer-media-link"
              href="https://www.facebook.com"
              target="_blank"
            >
              <svg class="footer-media-icon">
                <use href="./images/icons.svg#icon-facebook-1"></use>
              </svg>
            </a>
          </li>
          <li class="footer-media-item">
            <a
              class="footer-media-link"
              href="https://www.instagram.com"
              target="_blank"
            >
              <svg class="footer-media-icon">
                <use href="./images/icons.svg#icon-instagram-2"></use>
              </svg>
            </a>
          </li>
          <li class="footer-media-item">
            <a
              class="footer-media-link"
              href="https://www.linkedin.com"
              target="_blank"
            >
              <svg class="footer-media-icon">
                <use href="./images/icons.svg#icon-linkedin-1"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
