

<header class="container">
   <div class="header-container ">
      <nav class="header-nav">
         <ul class="header-nav-list list">
          <li class="header-nav-item">
            <a href="/src/index.html" class="header-link-home links">
               <svg class="home-nav-icon" width="34" height="20"> 
                  <use href="/src/images/icons.svg#icon-Home"></use>
                 </svg>
            </a>
          </li>
          
          <li class="header-nav-item">
            <a href="" class="header-link-favorites links">
               <svg class="favorites-nav-icon" width="53" height="20"> 
                  <use href="/src/images/icons.svg#icon-Favorites"></use>
                 </svg>
            </a>
          </li>
         
          
        </ul>
        <a href="/src/index.html" class="header-logo links">
          <p class="header-logo-text">
            <span class="header-logo-accent">tasty</span>treats.
            
          </p>
          
        </a>
      
      </nav>

      <div class="header-bloc-btn">
         
         <button type="button" class="shopping-btn ">
           <svg class="shopping-btn-icon" width="24" height="24"> 
             <use href="/src/images/icons.svg#icon-shopping"></use>
            </svg>
         </button>

         <button type="button" class="burger-menu-open-btn js-open-burger-menu">
            <svg class="burger-menu-open-btn-icon" width="32" height="32"> 
              <use href="/src/images/icons.svg#icon-burger-menu"></use>
             </svg>
          </button>


      </div>
      
    </div>
   
 
</header>