<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/src/css/hero.css" />
  </head>

  <body>
    <section class="container">
      <div class="hero-container">
        <div class="hero-text-wrapper">
          <h1 class="hero-title">
            Learn to Cook <span class="hero-title-green">Tasty Treats' </span>
            Customizable Masterclass
          </h1>
          <p class="hero-text">
            TastyTreats - Customize Your Meal with Ingredient Options and
            Step-by-Step Video Guides.
          </p>
          <button type="button" class="btnOrderNow">Order now</button>
        </div>
        <div class="hero-slider swiper-container"></div>
      </div>
    </section>
    <script src="/src/js/slider.js" type="module"></script>
  </body>
</html>
