<!-- 
<div class="modal"><button type="button" data-modal-close class="modal-close-btn">
    <svg class="" width="24" height="24" path stroke="#050505"><use href="./images/star.svg#http://www.w3.org/2000/svg"></use>
</svg></button> 
<div class="wrapper">
<h1 class="rat">Rating</h1>
<form action="#" class="form form_margin">
    <div class="form_item">
        <div class="form_label"></div>
        <div class="rating rating_set">
            <div class="rating_bodi">
                <div class="rating_value">3.6</div>
                <div class="rating_active"></div>
                <ul class="items">
                <div class="rating_items">
                    <input type="radio" class="rating_item" value="1" name="rating">
                     <svg class="icon-star" width="24" height="24">
                        <use href="./images/star.svg#icon-star"></use>
                        </svg>
                    
                    <input type="radio" class="rating_item" value="2" name="rating">
                     <svg class="icon-star" width="24" height="24">
                        <use href="./images/star.svg#icon-star"></use>
                        </svg>
                   
                    <input type="radio" class="rating_item" value="3" name="rating">
                     <svg class="icon-star" width="24" height="24">
                        <use href="./images/star.svg#icon-star"></use>
                        </svg>
                    
                    <input type="radio" class="rating_item" value="4" name="rating">
                     <svg class="icon-star" width="24" height="24">
                        <use href="./images/star.svg#icon-star"></use>
                        </svg>
                    
                    <input type="radio" class="rating_item" value="5" name="rating">
                     <svg class="icon-star" width="24" height="24">
                        <use href="./images/star.svg#icon-star"></use>
                        </svg>
                    
                </div></ul>
            </div>
            </div>
        </div>
    </div></form>
    <title>
    <input type="email" name="online-name" id="online-name" class="online-input" placeholder="E-mail">
    <button type="submit" class="from_btn btn">Send</button></title>

</div>-->

<div class="backdrop__rating">
  <div class="rating__modal">
    <form class="rating__form">
      <label class="rating-text">Rating</label>
      <div class="rating__wrap rating set__rating">
        <p class="rating__value">0.0</p>
        <div class="star__wrap">
          <svg class="rating__icon" width="24" height="24">
            <use href="./images/star.svg#icon-star"></use>
          </svg>
          <svg class="rating__icon" width="24" height="24">
            <use href="./images/star.svg#icon-star"></use>
          </svg>
          <svg class="rating__icon" width="24" height="24">
            <use href="./images/star.svg#icon-star"></use>
          </svg>
          <svg class="rating__icon" width="24" height="24">
            <use href="./images/star.svg#icon-star"></use>
          </svg>
          <svg class="rating__icon" width="24" height="24">
            <use href="./images/star.svg#icon-star"></use>
          </svg>
        </div>
        <div class="radio__wrap">
          <input type="radio" class="rating__radio" value="1" name="rating" />
          <input type="radio" class="rating__radio" value="2" name="rating" />
          <input type="radio" class="rating__radio" value="3" name="rating" />
          <input type="radio" class="rating__radio" value="4" name="rating" />
          <input type="radio" class="rating__radio" value="5" name="rating" />
        </div>
      </div>
      <input
        class="rating__input"
        type="email"
        name="email"
        placeholder="Enter email"
      />
      <button class="rating__submit" type="submit">Send</button>
      <button class="close__rating__btn" type="button">
        <svg class="close__icon" width="24" height="24">
          <use href="/src/images/icons.svg#icon-x"></use>
        </svg>
      </button>
    </form>
  </div>
</div>
<!-- <script type="module" src="/src/js/rating.js"></script>
<script type="module" src="/src/css/modal_rating.css"></script> -->
