<div class="team team_backdrop is-hidden" data-modal-team>
  <div class="team_wrapper">
    <button class="team_modal-close-btn" data-team-close type="button">
      <svg class="team_modal-close-icon" width="30" height="30">
        <use href="./images/icons.svg#icon-x-button"></use>
      </svg>
    </button>

    <h2 class="team_title">code_Masters</h2>
    <div class="team_wrapper-small-1">
      <ul class="team_list">
        <li class="team_item">
          <div class="team_wrap">
            <img class="team_img" loading="lazy" src="./images/team/IMG_sergii_321.webp" alt="Serhii Sokolovskyiy"
              loading="lazy" />
          </div>
          <div class="team_box">
            <h2 class="team_member">Serhii Sokolovskyi</h2>
            <p class="team_role">Team Lead</p>
            <a class="team_link-linkedin team_link-linkedin--active" target="_blank" rel="noopener noreferrer nofollow"
              href="https://www.linkedin.com/in/sergei-s-883420225">
              <svg class="team_icon" width="25" height="25">
                <use href="./images/icons.svg#icon-inkedin"></use>
              </svg>
            </a>
            <a class="team_link-github team_link-github--active" target="_blank" rel="noopener noreferrer nofollow"
              href="https://github.com/DevMasterX">
              <svg class="team_icon" width="25" height="25">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="team_item">
          <div class="team_wrap">
            <img class="team_img" loading="lazy" src="./images/team/IMG_nastja.webp" alt="Anastasiia Khmelenko"
              loading="lazy" />
          </div>
          <div class="team_box">
            <p class="team_member">Anastasiia Khmelenko</p>
            <p class="team_role">Scrum Master</p>
            <a class="team_link-linkedin team_link-linkedin--active" target="_blank" rel="noopener noreferrer nofollow"
              href="https://www.linkedin.com/">
              <svg class="team_icon" width="25" height="25">
                <use href="./images/icons.svg#icon-inkedin"></use>
              </svg>
            </a>
            <a class="team_link-github team_link-github--active" target="_blank" rel="noopener noreferrer nofollow"
              href="https://github.com/anastasiiahmel">
              <svg class="team_icon" width="25" height="25">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="team_item">
          <div class="team_wrap">
            <img class="team_img" loading="lazy" src="./images/team/IMG_oksana.webp" alt="Oksana Lesiuk"
              loading="lazy" />
          </div>
          <div class="team_box">
            <p class="team_member">Oksana Lesiuk</p>
            <p class="team_role">Front End Developer</p>
            <a class="team_link-linkedin team_link-linkedin--active" target="_blank" rel="noopener noreferrer nofollow"
              href="https://www.linkedin.com/in/oksana-lesiuk-998b94277/">
              <svg class="team__icon" width="25" height="25">
                <use href="./images/icons.svg#icon-inkedin"></use>
              </svg>
            </a>
            <a class="team_link-github team_link-github--active" target="_blank" rel="noopener noreferrer nofollow"
              href="https://github.com/OksanaLesjuk/">
              <svg class="team_icon" width="25" height="25">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="team_item">
          <div class="team_wrap">
            <img class="team_img" loading="lazy" src="./images/team/IMG_lesja.webp" alt="lesya Finikovska"
              loading="lazy" />
          </div>
          <div class="team_box">
            <p class="team_member">Lesya Finikovska</p>
            <p class="team_role">Front End Developer</p>
            <a class="team_link-linkedin team_link-linkedin--active" target="_blank" rel="noopener noreferrer nofollow"
              href="https://ua.linkedin.com/">
              <svg class="team_icon" width="25" height="25">
                <use href="./images/icons.svg#icon-inkedin"></use>
              </svg>
            </a>
            <a class="team_link-github team_link-github--active" target="_blank" rel="noopener noreferrer nofollow"
              href="https://github.com/Lissa692/">
              <svg class="team_icon" width="25" height="25">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="team_item">
          <div class="team_wrap">
            <img class="team_img" loading="lazy" src="./images/team/IMG_lyda.webp" alt="Medvidchuk Lyuda"
              loading="lazy" />
          </div>
          <div class="team_box">
            <p class="team_member">Medvidchuk Lyuda</p>
            <p class="team_role">Front End Developer</p>
            <a class="team_link-linkedin team_link-linkedin--active" target="_blank" rel="noopener noreferrer nofollow"
              href="https://www.linkedin.com/">
              <svg class="team_icon" width="25" height="25">
                <use href="./images/icons.svg#icon-inkedin"></use>
              </svg>
            </a>
            <a class="team_link-github team_link-github--active" target="_blank" rel="noopener noreferrer nofollow"
              href="https://github.com/Lyuda313">
              <svg class="team_icon" width="25" height="25">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="team_item">
          <div class="team_wrap">
            <img class="team_img" loading="lazy" src="./images/team/IMG_vitalii_183.webp" alt="Vitalii Malyk"
              loading="lazy" />
          </div>
          <div class="team_box">
            <p class="team_member">Vitalii Malyk</p>
            <p class="team_role">Front End Developer</p>
            <a class="team_link-linkedin team_link-linkedin--active" target="_blank" rel="noopener noreferrer nofollow"
              href="https://www.linkedin.com/in/vitalii-malyk-b435bb287/">
              <svg class="team_icon" width="25" height="25">
                <use href="./images/icons.svg#icon-inkedin"></use>
              </svg>
            </a>
            <a class="team_link-github team_link-github--active" target="_blank" rel="noopener noreferrer nofollow"
              href="https://github.com/Vitalii-Malyk">
              <svg class="team_icon" width="25" height="25">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="team_wrapper-small-2">
      <ul class="team_list">
        <li class="team_item">
          <div class="team_wrap">
            <img class="team_img" loading="lazy" src="./images/team/IMG_oleksandr_547.webp" alt="Oleksandr Lukomskyi"
              loading="lazy" />
          </div>
          <div class="team_box">
            <p class="team_member">Oleksandr Lukomskyi</p>
            <p class="team_role">Front End Developer</p>
            <a class="team_link-linkedin team_link-linkedin--active" target="_blank" rel="noopener noreferrer nofollow"
              href="https://www.linkedin.com/in/lukomskyi-oleksandr/">
              <svg class="team_icon" width="25" height="25">
                <use href="./images/icons.svg#icon-inkedin"></use>
              </svg>
            </a>
            <a class="team_link-github team_link-github--active" target="_blank" rel="noopener noreferrer nofollow"
              href="https://github.com/OLeksandrLukomskyi">
              <svg class="team_icon" width="25" height="25">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="team_item">
          <div class="team_wrap">
            <img class="team_img" loading="lazy" src="./images/team/IMG_voloshun.webp" alt="Oleksandr Voloshun"
              loading="lazy" />
          </div>
          <div class="team_box">
            <p class="team_member">Oleksandr Voloshun</p>
            <p class="team_role">Front End Developer</p>
            <a class="team_link-linkedin team_link-linkedin--active" target="_blank" rel="noopener noreferrer nofollow"
              href="https://www.linkedin.com/in/oleksandr-voloshun-79854b287/">
              <svg class="team_icon" width="25" height="25">
                <use href="./images/icons.svg#icon-inkedin"></use>
              </svg>
            </a>
            <a class="team_link-github team_link-github--active" target="_blank" rel="noopener noreferrer nofollow"
              href="https://github.com/Alex333709">
              <svg class="team_icon" width="25" height="25">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="team_item">
          <div class="team_wrap">
            <img class="team_img" loading="lazy" src="./images/team/IMG_iryna_023.webp" alt="Irina Sokolenko"
              loading="lazy" />
          </div>
          <div class="team_box">
            <p class="team_member">Irina Sokolenko</p>
            <p class="team_role">Front End Developer</p>
            <a class="team_link-linkedin team_link-linkedin--active" target="_blank" rel="noopener noreferrer nofollow"
              href="https://www.linkedin.com/in/irina-sokolenko-6156ab289/">
              <svg class="team_icon" width="25" height="25">
                <use href="./images/icons.svg#icon-inkedin"></use>
              </svg>
            </a>
            <a class="team_link-github team_link-github--active" target="_blank" rel="noopener noreferrer nofollow"
              href="https://github.com/irinasokolenko">
              <svg class="team_icon" width="25" height="25">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="team_item">
          <div class="team_wrap">
            <img class="team_img" loading="lazy" src="./images/team/IMG_20230822_141739_828.webp" alt="Svist Petro"
              loading="lazy" />
          </div>
          <div class="team_box">
            <p class="team_member">Svist Petro</p>
            <p class="team_role">Front End Developer</p>
            <a class="team_link-linkedin team_link-linkedin--active" target="_blank" rel="noopener noreferrer nofollow"
              href="https://www.linkedin.com/in/petro-svist-099671264">
              <svg class="team_icon" width="25" height="25">
                <use href="./images/icons.svg#icon-inkedin"></use>
              </svg>
            </a>
            <a class="team_link-github team_link-github--active" target="_blank" rel="noopener noreferrer nofollow"
              href="https://github.com/SvistPetro">
              <svg class="team_icon" width="25" height="25">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="team_item">
          <div class="team_wrap">
            <img class="team_img" loading="lazy" src="./images/team/IMG_kostja_087.webp" alt="Konstjantyn Storozhenko"
              loading="lazy" />
          </div>
          <div class="team_box">
            <p class="team_member">Konstjantyn Storozhenko</p>
            <p class="team_role">Front End Developer</p>
            <a class="team_link-linkedin team_link-linkedin--active" target="_blank" rel="noopener noreferrer nofollow"
              href="https://www.linkedin.com/">
              <svg class="team_icon" width="25" height="25">
                <use href="./images/icons.svg#icon-inkedin"></use>
              </svg>
            </a>
            <a class="team_link-github team_link-github--active" target="_blank" rel="noopener noreferrer nofollow"
              href="https://github.com/KostiantynSS">
              <svg class="team_icon" width="25" height="25">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- <script src="./js/modal_our_team.js" type="module"></script> -->