<div class="backdrop is-hidden" data-modal-order>
  <div class="order-form-wrapper">
    <h2 class="order-title">Order now</h2>
    <button class="btn-order-close" data-modal-close>
      <svg class="close-icon" width="12" height="12">
        <use href="./images/icons.svg#icon-x"></use>
      </svg>
    </button>
    <form class="modal-form" autocomplete="off">
      <div class="modal-input-wrapper">
        <label class="form-label"> Name </label>
        <input
          class="form-input"
          type="text"
          name="name"
          id="name"
          pattern="[a-zA-Za-яА-ЯіІїЇґҐєЄ\s]*"
          placeholder="Alexander Repeta"
          required
        />
      </div>

      <div class="modal-input-wrapper">
        <label class="form-label"> Phone number </label>
        <input
          class="form-input"
          type="tel"
          id="phone"
          name="phone"
          pattern="^(\+|)(380|38|80|0|)(\s\(|\(|\(0|\s\(0|)(67|96|97|98|39|68|50|63|66|70|90|73|91|92|93|94|95|99)(\)\s|\)|0\)|)([0-9]{7}|[0-9\s]{9})$"
          minlength="13"
          maxlength="13"
          placeholder="+380"
          required
        />
      </div>
      <div class="modal-input-wrapper">
        <label class="form-label"> Email </label>
        <input
          class="form-input"
          type="email"
          name="email"
          id="email"
          pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
          placeholder="Enter your email"
          required
        />
      </div>

      <div class="modal-textarea-wrapper">
        <label class="form-label">Comment</label>
        <textarea
          class="modal-textarea"
          name="comment"
          id="comment"
          placeholder="Enter your comment"
        ></textarea>
      </div>
      <button class="btn-send" type="submit">Send</button>
    </form>
  </div>
</div>
<script type="modul" src="/src/js/order.js"