
<div class="modal"><button type="button" data-modal-close class="modal-close-btn">
    <svg class="" width="24" height="24" path stroke="#050505"><use href="./images/star.svg#http://www.w3.org/2000/svg"></use>
</svg></button> 
<div class="wrapper">
<h1 class="rat">Rating</h1>
<form action="#" class="form form_margin">
    <div class="form_item">
        <div class="form_label"></div>
        <div class="rating rating_set">
            <div class="rating_bodi">
                <div class="rating_value">3.6</div>
                <div class="rating_active"></div>
                <ul class="items">
                <div class="rating_items">
                    <input type="radio" class="rating_item" value="1" name="rating">
                     <svg class="icon-star" width="24" height="24">
                        <use href="./images/star.svg#icon-star"></use>
                        </svg>
                    
                    <input type="radio" class="rating_item" value="2" name="rating">
                     <svg class="icon-star" width="24" height="24">
                        <use href="./images/star.svg#icon-star"></use>
                        </svg>
                   
                    <input type="radio" class="rating_item" value="3" name="rating">
                     <svg class="icon-star" width="24" height="24">
                        <use href="./images/star.svg#icon-star"></use>
                        </svg>
                    
                    <input type="radio" class="rating_item" value="4" name="rating">
                     <svg class="icon-star" width="24" height="24">
                        <use href="./images/star.svg#icon-star"></use>
                        </svg>
                    
                    <input type="radio" class="rating_item" value="5" name="rating">
                     <svg class="icon-star" width="24" height="24">
                        <use href="./images/star.svg#icon-star"></use>
                        </svg>
                    
                </div></ul>
            </div>
            </div>
        </div>
    </div></form>
    <title>
    <input type="email" name="online-name" id="online-name" class="online-input" placeholder="E-mail">
    <button type="submit" class="from_btn btn">Send</button></title>

</div>
<script src="./js/rating.js"></script>
<script src="./css/modal_rating.css"></script>