<section class="my-favorites">
    <div class="my-favorites__container container">

        <div class="my-favorites__hero">
            <div class="my-favorites__content" hidden>
                <h1 class="my-favorites__title">My Favorites</h1>
            </div>
        </div>

        <div class="my-favorites__category">
            <div class="my-favorites-category__container">
                <div class="my-favorites-category__content">
                    <div class="my-favorites-category__list">
                        <!-- list categories -->
                        <!-- <span class="my-favorites-category__item-list active text-item-category">
                            All categories
                        </span> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="my-favorites__cards">
            <ul class="my-favorites-cards__list">
                <!-- list favorites_cards -->
            </ul>
        </div>

        <!-- empty favorites -->

    </div>
</section>