<div class="content">
  <button class="button button-left-start button-left">
    <svg class="input-icon" width="20" height="20">
      <use href="./images/icons.svg#icon-left"></use>
    </svg>
  </button>
  <button class="button button-left-next button-left">
    <svg class="input-icon" width="20" height="20">
      <use href="./images/icons.svg#icon-angle-small-left-1"></use>
    </svg>
  </button>
  <div class="links"></div>
  <button class="button button-right-next button-right">
    <svg class="input-icon input-icon-right" width="20" height="20">
      <use href="./images/icons.svg#icon-angle-small-left"></use>
    </svg>
  </button>
  <button class="button button-right-end button-right">
    <svg class="input-icon input-icon-right" width="20" height="20">
      <use href="./images/icons.svg#icon-right"></use>
    </svg>
  </button>
</div>
<script type="module" src="./js/pagination.js"></script>
