<div class="content">
  <button class="button button-left">
    <svg class="input-icon" width="20" height="20">
      <use href="./images/icons.svg#icon-left"></use>
    </svg>
  </button>
  <button class="button button-left">
    <svg class="input-icon" width="20" height="20">
      <use href="./images/icons.svg#icon-angle-small-left-1"></use>
    </svg>
  </button>
  <div class="links">
    <!-- <button class="button-link">
      <a href="#" class="link">1</a>
    </button>
    <button class="button-link">
      <a href="#" class="link">2</a>
    </button>
    <button class="button-link">
      <a href="#" class="link">...</a>
    </button> -->
  </div>
  <button class="button button-right">
    <svg class="input-icon-right" width="20" height="20">
      <use href="./images/icons.svg#icon-angle-small-left"></use>
    </svg>
  </button>
  <button class="button button-right">
    <svg class="input-icon-right" width="20" height="20">
      <use href="./images/icons.svg#icon-right"></use>
    </svg>
  </button>
</div>
<!-- <script type="module" src="./js/pagination.js"></script> -->
