.categories-wrap {
  width: 100%;
}
.categories-btn {
  display: block;
  padding: 14px 29px;
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  background: transparent;
  margin: 0;
  margin-bottom: 38px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.categories-btn:hover,
.categories-btn:focus,
.categories-btn:active {
  background-color: rgba(155, 181, 55, 1);
  color: #f8f8f8;
}

.categories-list {
  list-style: none;
  max-width: 100%;
  height: 198px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.js-categories-item {
}

.js-categories-item-btn {
  color: rgba(5, 5, 5, 0.3);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.29;

  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.js-categories-item-btn:hover,
.js-categories-item-btn:focus,
.js-categories-item-btn:active {
  color: rgba(155, 181, 55, 1);
}

.categories-scrollbar {
  overflow-y: scroll;
}

.categories-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 116px;
}

.categories-scrollbar::-webkit-scrollbar-track {
  border-radius: 12px;
}

.categories-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(5, 5, 5, 0.18);
  border-radius: 12px;
}

@media screen and (min-width: 768px) {
  .categories-bloc {
    width: 176px;
    padding-bottom: 24px;
  }

  .categories-btn {
    max-width: 176px;
    max-height: 50px;
    /* font-size: ; */
  }

  .categories-list {
    height: 416px;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  .categories-scrollbar::-webkit-scrollbar {
    height: 201px;
  }
}

@media screen and (min-width: 1280px) {
  .categories-bloc {
    width: 235px;
  }

  .categories-wrap {
  }
  .categories-list {
    width: 100%;
    height: 416px;
    gap: 24px;
  }
  .categories-scrollbar {
    overflow-y: scroll;
  }

  .categories-scrollbar::-webkit-scrollbar {
    height: 201px;
  }
}
