.filter-form-wrapper {
  max-width: 100%;
  width: 335px;
  margin-left: auto;
  margin-right: auto;
  color: rgba(5, 5, 5, 0.5);
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}
.filter-item {
  position: relative;
  max-width: 100%;
}
.filter-item-tittle {
  display: block;
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.17;

  margin-bottom: 8px;
}
.filter-form-input {
  max-width: 100%;
  padding: 14px 122px 14px 48px;
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.29;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  background-color: transparent;
}
.filter-form-input-wrap {
  position: relative;
  display: block;
}

.filter-search-btn {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: transparent;
  padding: 0;
  cursor: pointer;
  background-image: url(../images/search_gray.png);
}

.filter-form-input:focus-within .filter-search-btn {
  background-image: url(../images/search_green.png);
}

.filter-form-input::placeholder {
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
}

.filter-input-reset-container {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translate(0, -50%);
}

.filter-input-reset-btn {
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: transparent;
  border: transparent;
  display: none;
}

.filter-input-reset-btn:focus,
.filter-input-reset-btn:hover {
  scale: 1.2;
}

.filter-form-input:not(:placeholder-shown),
.filter-form-input:focus,
.filter-form-input:active {
  outline: none;
  border: 1px solid rgba(5, 5, 5, 0.2);
}

.filter-form-input:not(:placeholder-shown)
  ~ .filter-input-reset-container
  .filter-input-reset-btn {
  display: inline-block;
}

.filter-input-reset-icon {
  stroke: #050505;
  fill: #050505;
  width: 16px;
  height: 16px;
}

/* =======СЕЛЕКТОРИ===== */

/*  контейнер для кастомного селекта */
.filter-form-select {
  position: relative;
  display: inline-block;
}

/*  селект, що залишається невидимим */
.filter-form-select select {
  display: none;
}

.choices__inner {
  display: block;
  background-color: transparent;
}
.filter-form-select {
  display: block;
  width: 100%;
  min-width: 120px;
  padding: 13px 18px 13px 25px;
  color: rgba(5, 5, 5, 0.5);
  /* color: #050505; */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  background-color: transparent;
}

.choices__list--single {
  display: none;
}
.choices__inner:not(.is-focused):not(.is-open):not(.is-disabled):not(
    .is-active
  ):not(.is-highlighted):not(.is-selected):not(.is-flipped) {
  border: none;
  outline: transparent;
}

.js-filter-select-wrap {
  display: block;

  border: none;
  outline: none;
}

/*  для закритого списку опцій */
.js-filter-select-wrap.closed .js-filter-form-select-dropdown {
  display: none;
}

.js-filter-select-wrap.open .js-filter-form-select-dropdown {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;

  display: block;
  width: 100%;
  max-height: 176px;
  overflow-y: auto;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.02);

  color: rgba(5, 5, 5, 0.3);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.9;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 18px;
  padding-right: 12px;
  z-index: 10;
}

.js-filter-select-wrap:has(.is-focused) .choices__list {
  outline: transparent;
  border: transparent;
}

.is-highlighted {
  color: #050505;
}

/* Стилізація повзунка прокрутки */

.js-filter-select-wrap.open .js-filter-form-select-dropdown::-webkit-scrollbar {
  width: 6px;
  max-height: 55px;
  border-radius: 12px;
  background: transparent;
}

.js-filter-select-wrap.open
  .js-filter-form-select-dropdown::-webkit-scrollbar-track {
  background: transparent;
}

.js-filter-select-wrap.open
  .js-filter-form-select-dropdown::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: rgba(5, 5, 5, 0.1);
}

/* =====ГАЛЕРЕЯ======= */
.filter-gallery {
  width: 100%;
  padding: 14px 20px 40px 20px;
}

.filter-gallery-list {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-left: auto;
  margin-right: auto;
}

.filter-gallery-item {
  position: relative;
  width: 335px;
  height: 335px;
  border-radius: 8px;
  background-color: aquamarine;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.filter-gallery-item-photo {
  display: block;
  width: 100%;
  height: 100%;
}
.filter-gallery-item-content {
  position: absolute;
  bottom: 0cm;

  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 16px;
}

.filter-gallery-item-favorit-btn {
  position: absolute;
  top: 16px;
  right: 16px;

  background-color: transparent;
  border-color: transparent;
  background-image: url(../images/heart_transp.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 28px;
  height: 22px;
  padding: 0;
  cursor: pointer;
}

.filter-gallery-item.favorite + .filter-gallery-item-favorit-btn {
  background-image: url(../images/heart_wite.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-gallery-item-tittle {
  display: block;
  color: #f8f8f8;
  width: 100%;
  font-size: 14px;

  font-weight: 600;
  line-height: 1.28;
  margin: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
  overflow: hidden;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.filter-gallery-item-description {
  color: #f8f8f8;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;

  width: 100%;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0;
  margin-bottom: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
.filter-gallery-item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-gallery-item-rating-wrap {
  display: flex;
  gap: 0px;
  align-items: center;
}

.filter-gallery-item-rating-value {
  color: #f8f8f8;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.23;
  margin: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.filter-gallery-item-rating-icons {
  width: 72px;
  display: block;
  font-size: 12px;
  margin: 0;
}

.filter-gallery-item-btn {
  color: #f8f8f8;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  padding: 8px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #9bb537;
  border-color: transparent;
  cursor: pointer;
}
.filter-gallery-item-btn:hover,
.filter-gallery-item-btn:focus {
  color: #050505;
}

.filter-reset-wrap {
  display: flex;
  gap: 0;
  align-items: center;
  max-width: fit-content;
  margin-left: auto;
}

.filter-reset-btn {
  background-color: transparent;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  padding: 0;
  cursor: pointer;
}

.filter-reset-btn-icon {
  width: 16px;
  height: 16px;

  stroke: #9bb537;
  fill: #9bb537;
  margin: 0;
}

/* ======TABLET==== */
@media screen and (min-width: 768px) {
  .filter-form-wrapper {
    max-width: 100%;
    width: 528px;
    margin: 0;
    padding: 0;
  }
  .filter-form {
    gap: 16px;
  }
  .filter-form-input {
    width: 278px;
  }

  .filter-gallery {
    min-width: 496px;
    max-width: fit-content;
    padding: 14px 0px 0px 0px;
  }
  .filter-gallery-list {
    max-width: 496px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0;
  }

  .filter-gallery-item {
    width: 240px;
    height: 264px;
    border-radius: 8px;
    margin: 0;
  }
}

/* -------DESKTOP--------------- */

@media screen and (min-width: 1280px) {
  .filter-gallery-list {
    max-width: 782px;
  }

  .filter-gallery-item {
    width: 250px;
    height: 287px;
  }
}
