:root {
  --footer-bg-color: rgb(155, 181, 55);
  --footer-text-color: rgb(80, 224, 67);
  --footer-link-color: rgb(41, 36, 36);
  --btn-to-top-bg-color: rgb(244, 103, 103);
  --btn-to-top-fill-color: rgb(53, 242, 201);
  --focus-visible-box-shadow-color: rgba(0, 0, 0, 0.5);
  --btn-to-top-hover-bg-color: rgb(248, 15, 35);
  --muted-text-clr: #a9a9a9;
}

p {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
}

.footer,
.footer_container {
  padding-top: 40px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_desc,
.footer_draw-text {
  display: inline-block;
}

.show-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: var(--btn-to-top-bg-color);
  fill: var(--footer-bg-color);
  border: none;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
  opacity: 0.5;
  transform: translateY(10px);
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.show-btn.is-visible {
  display: flex;
  opacity: 0.6;
  transform: translateY(0);
}

.show-btn:hover,
.show-btn:focus {
  background-color: var(--btn-to-top-hover-bg-color);
  transform: scale(1.05);
  box-shadow: 0 0 0 3px var(--focus-visible-box-shadow-color);
}

.show-btn:active {
  filter: brightness(1.2);
}

.footer_icon {
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.footer_link {
  position: relative;
  /* padding: 10px 20px; */
  border: none;
  color: var(--footer-link-color);
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-block;
  background-color: transparent;
}

.footer_link:hover,
.footer_link:focus {
  transform: translateY(-5px);
  color: var(--footer-bg-color);
  outline: none;
}

.footer_link:active {
  transform: translateY(0);
}

@media screen and (min-width: 320px) {
  .show-btn {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 768px) {
  .show-btn {
    width: 50px;
    height: 50px;
  }

  .footer,
  .footer_container {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .show-btn {
    width: 55px;
    height: 55px;
  }

  .footer,
  .footer_container {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .footer,
  .footer_container {
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 40px;
  }
}
