:root {
   --color-header-black: #050505;
   --color-header-green: #9BB537;
   --color-white: #fafafa;
   --color-white-secondary: #fff;
 }

 .list {
   list-style: none;
 }
 
   .header-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 0px 2px;

   /* outline: 2px solid red  ; */
   
}
@media screen and (min-width: 768px){
   .header-container{
      padding-top: 32px;
   }
}
@media screen and (min-width: 768px){
   .header-container{
      padding-top: 44px;
   }
}

.header-nav {
   display: flex;
}

.header-logo {
   display: flex;
   font-weight: 600;  
font-size: 16px;
line-height: calc(18 / 16);
letter-spacing: -0.04em;
text-align: center;
color: var(--color-header-green);
  
}

@media screen and (min-width: 768px) {
    .header-logo {
      align-items: center;
      margin-left: 203px;
      font-size: 18px;
      line-height: calc(20 / 18);
      letter-spacing: -4%; 
    }
}

@media screen and (min-width: 1280px) {
   .header-logo {
      margin-left: 391px;
      
   }
}
.links {
   text-decoration: none;
}


.header-nav-list {
   padding: 0;
}

@media screen and (max-width: 767px) {
   .header-nav-list {
      display: none;
   }
}

@media screen and (min-width: 768px) {
   .header-nav-list {
display: flex;
gap: 16px;
   }
   
}

.header-link-home:hover,
.header-link-home:focus,
.header-link-home:active {
   text-decoration: underline;
   
   fill: var(--color-header-green);

}

.header-link-favorites:hover,
.header-link-favorites:focus,
.header-link-favorites:active{
 text-decoration: underline;
   fill: var(--color-header-green);
}

 .burger-menu-open-btn {
   background-color: transparent;
   border: none;
   padding: 0;
   line-height: 0;
}

@media screen and (min-width: 768px){
   .burger-menu-open-btn {
      display: none;
   }
}
  




.burger-menu-open-btn-icon {
   
stroke: var(--color-header-black);
}

.burger-menu-open-btn-icon:hover,
.burger-menu-open-btn-icon:focus {
   stroke: var(--color-header-green);
}

.shopping-btn {
   background-color: transparent;
   border: none;
   padding: 0;
   line-height: 0;
   cursor: pointer;
}

.shopping-btn-icon {
   stroke: var(--color-header-black);
   fill: var(--color-white-secondary);
 }

 .shopping-btn-icon:hover,
 .shopping-btn-icon:focus {
   stroke: var(--color-header-green);

 }

.header-bloc-btn {
   display: flex;
   gap: 14px;
   
}

@media screen and (min-width: 1280px) {
   .header-bloc-btn {
           gap: 24px;
   }
}


.header-theme-checkbox {
   display: none;
}

@media screen and (min-width: 768px){
   .header-theme-checkbox {
      display: block;
      cursor: pointer;
   }

}
.header-theme-checkbox input {
   cursor: pointer;
}



.header-logo-accent{
   color:#050505
}

body.dark-theme span.header-logo-accent{
   color: var(--color-white-secondary);
}

body.dark-theme .home-nav-icon,
body.dark-theme .favorites-nav-icon
{
   fill: var(--color-white-secondary);
   ;
}

body.dark-theme .favorites-nav-icon:hover,
body.dark-theme .favorites-nav-icon:focus {
   fill: var(--color-header-green);
}

body.dark-theme .home-nav-icon:hover,
body.dark-theme .home-nav-icon:focus {
   fill: var(--color-header-green);
}


body.dark-theme .shopping-btn-icon{
   stroke: var(--color-white-secondary);
   fill: var(--color-header-black);

}
body.dark-theme .shopping-btn-icon:hover,
body.dark-theme .shopping-btn-icon:focus {
   stroke: var(--color-header-green);
}


body.dark-theme .burger-menu-open-btn-icon{
   stroke: var(--color-white-secondary);
}

body.dark-theme .burger-menu-open-btn-icon:hover,
body.dark-theme .burger-menu-open-btn-icon:focus {
   stroke: var(--color-header-green);
}

.active-header{
   fill:var(--color-header-green);
}

body.dark-theme .active-header{
   fill: var(--color-header-green);
}