#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  z-index: 101;
}
#preloader.hide-preloader {
  /* display: none; */
  animation: spin 1s;
}
#preloader.preloader-hidden {
  display: none;
}
@keyframes spin {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
