/* Основні стилі для модального вікна */
.team_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 998;
  padding: 15px;
  /* background-color: rgba(0, 0, 0, 0.7); */
  visibility: visible;
  opacity: 1;
}
.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}
/* .team_backdrop.is-hidden { */
/* display: flex; Показуємо модальне вікно/ */
/* } */

.team_wrapper {
  position: relative;
  z-index: 999;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 15px 20px;
}
/* Стилі для кнопки закриття модалки */
.team_modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  /* color: $black-color; */
}
.team_modal-close-icon {
  fill: #000; /* Колір іконки */
}
.team_title {
  text-align: center;
  text-transform: uppercase;
  /* color: $black-color; */
  font-size: 24px;
  margin-bottom: 20px;
}
/* Стилі для карток */
.team_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.team_item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  /* background: $white-color; */
  position: relative;
  border-radius: 10px;
  padding-bottom: 5px;
  overflow: hidden;
}
.team_wrap {
  overflow: hidden;
}

.team_img {
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 5px;
  width: 200px;
  height: 180px;
}
.team_box {
  /* @include font(500, 16px, null, null); */
  padding: 10px;
  text-align: center;
  margin-bottom: 3px;
}

.team_member {
  font-weight: 500;
  font-size: 18px;
  /* color: $black-color; */
  margin-bottom: 10px;
}

.team_role {
  font-weight: 500;
  font-size: 16px;
  /* color: $orange-color; */
  margin-bottom: 10px;
}
.team_link-linkedin {
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 10%;
  margin-right: 10px;
  background-color: transparent;
  /* fill: $black-color; */
  display: inline-flex;
  justify-content: center;
  align-items: center;

  /* @include animation3(background-color, color, fill); */

  /* &--active:hover,
  &--active:focus {
    background-color: $orange-color;
    fill: $white-color; */
  /* } */
}
.team__link-github {
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  /* fill: $black-color; */
  display: inline-flex;
  justify-content: center;
  align-items: center;

  /* @include animation3(background-color, color, fill); */

  /* &--active:hover,
  &--active:focus {
    background-color: $orange-color;
    fill: $white-color;
  } */
}
/* Точка перелому для ширини екрана 320px */
@media (max-width: 320px) {
  .team_item {
    width: 100%; /* Картка на всю ширину */
  }
}

/* Точка перелому для ширини екрана до 768px */
@media (min-width: 321px) and (max-width: 768px) {
  .team_wrapper {
    width: 580px; /* Відключаємо скрол */
  }
}
.team_modal-close-btn {
  top: 10px;
  right: 10px;
}
/* Точка перелому для ширини екрана більше 1280px */
@media (min-width: 1280px) {
  .team_item {
    width: 50%; /* Картки в два ряди */
  }

  .team_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 1200px;
    padding: 30px;
    overflow-y: hidden;
    visibility: visible;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 28px 42px rgba(0, 0, 0, 0.38), 0 20px 20px rgba(0, 0, 0, 0.33); /* Відключаємо скрол */
  }
}
/**---------------------------Lessa________________________________________________________*/

.btn-order-close {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.btn-order-close:hover,
.btn-order-close:focus {
  fill: rgb(136, 133, 133);
}
