.backdrop {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 2, 0.894);
}

/* body.dark-theme.order-form-wrapper {
  border: 5px solid rgba(5, 5, 5, 0.2);
  box-shadow: 0 3px 10px -0.5px rgba(122, 236, 223, 0.2);
} */
/* .backdrop.is-hidden .order-form-wrapper {
  transform: translate(-50%, -50%) scaleY(0) rotate(-60deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.order-form-wrapper {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  padding: 28px 20px;
  width: 335px;
  max-height: 100%;
  overflow-y: scroll;
  border-radius: 15px;
  background-color: #ffffff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
}
.btn-order-close {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.btn-order-close:hover,
.btn-order-close:focus {
  fill: rgb(8, 6, 6);
  background-color: #859b2d;
  width: 30px;
  height: 30px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}
.order-title {
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.form-label {
  display: flex;
  flex-direction: column;
  color: rgba(5, 5, 5, 0.5);
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 8px;
}
.form-input {
  display: flex;
  width: 100%;
  height: 46px;
  padding-left: 14px;
  align-items: flex-start;

  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}
.modal-input-wrapper {
  position: relative;
  margin-bottom: 16px;
}
::-webkit-input-placeholder {
  color: #859b2d;
  font-size: 13px;
}
.form-input:not(:placeholder-shown):valid {
  border-color: #9bb537;
}

.form-input:not(focus):not(:placeholder-shown):invalid {
  border-color: red;
}
.modal-textarea-wrapper {
  margin-bottom: 40px;
}
.modal-textarea {
  display: flex;
  width: 100%;
  height: 100px;
  padding-left: 14px;
  padding-top: 14px;
  align-items: flex-start;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  resize: none;
}
.btn-send {
  display: flex;
  height: 46px;
  width: 100%;
  padding: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: transparent;
  background: #9bb537;
  color: #f8f8f8;
  font-size: 14px;
  line-height: normal;
}
.btn-send:hover,
.btn-send:focus {
  background-color: #859b2d;
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .order-form-wrapper {
    padding: 40px;
    width: 440px;
    height: 632px;
  }
  .btn-order-close {
    width: 24px;
    height: 24px;
    top: 16px;
    right: 16px;
  }
  .form-input {
    height: 48px;
    padding-left: 14px;
  }
}
