/* Основні стилі для модального вікна */
.ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.team_backdrop {
  width: 100%;
  height: 100%;
  z-index: 998;
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}
.team_wrapper {
  z-index: 999;
  max-width: 320px;
  visibility: visible;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 15px 20px;
  position: relative;
  box-shadow: 0 28px 42px rgba(0, 0, 0, 0.38), 0 20px 20px rgba(0, 0, 0, 0.33);
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out,
    transform 0.3s ease-out;
}

.team_wrapper-small-1 {
  margin-bottom: 20px;
}

.team_wrapper-small-2 {
  margin-left: 10px;
  margin-right: 10px;
}
.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.9);
}
.team_backdrop.is-hidden {
  display: flex; /* Показуємо модальне вікно */
}

/* Стилі для кнопки закриття модалки */
.team_modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team_modal-close-btn:hover,
.team_modal-close-btn:focus {
  color: #9bb537;
  transform: rotate(90deg);
  transition: transform 0.3s ease-out;
}

.team_title {
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 320px;
}
/* Стилі для карток */
.team_list {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;

  gap: 20px;
}

.team_item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: white;
  position: relative;
  border-radius: 10px;
  padding-bottom: 5px;
  overflow: hidden;
}

.team_item:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.15),
    0px 4px 2px rgba(0, 0, 0, 0.25);
}

.team_wrap {
  overflow: hidden;
  max-height: 180px;
}

.team_img {
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 5px;
  width: 240px;
  height: 220px;
}
.team_box {
  padding: 10px;
  text-align: center;
  /* margin-bottom: 3px; */
}

.team_member {
  font-weight: 500;
  font-size: 13px;
  color: black;
  margin-bottom: 5px;
  text-align: center;
}

.team_role {
  font-weight: 500;
  font-size: 13px;
  color: #9bb537;
  margin-bottom: 5px;
}
.team_link-linkedin {
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 10%;
  margin-right: 10px;
  background-color: transparent;
  fill: black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
}

.team_link-linkedin:hover,
.team_link-linkedin:focus {
  background-color: #9bb537;
  fill: #fff;
}

.team_link-linkedin--active:hover,
.team_link-linkedin--active:focus {
  background-color: #9bb537;
  fill: #fff;
}

.team_link-github {
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  fill: black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, color 0.3s, fill 0.3s;
}

.team_link-github:hover,
.team_link-github:focus,
.team_link-github--active:hover,
.team_link-github--active:focus {
  background-color: #9bb537;
  fill: #fff;
}

@media (min-width: 768px) {
  .team_wrapper {
    max-width: 580px;
  }
  .team_title {
    max-width: 580px;
  }
  .team_wrapper-small-1 {
    max-width: 580px;
  }
}
.team_modal-close-btn {
  top: 10px;
  right: 10px;
}

@media screen and (min-width: 1280px) {
  .team_wrapper {
    max-width: 1280px;
    padding: 30px;
    /* position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); */

    /* max-height: fit-content; */
  }

  .team_wrapper-small-1 {
    max-width: 1280px;
    flex-wrap: nowrap;
  }
  .team_title {
    max-width: 1280px;
  }
  .team_wrapper-small-2 {
    margin-left: 90px;
    margin-right: 115px;
  }

  .team_list {
    flex-wrap: nowrap;
  }
}

*::before,
*::after {
  transition: all 0.3s ease-out;
}
