.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .no-scroll {
    overflow: hidden;
  }

.r-modal-backdrop {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    overflow: auto;
  }

.r-modal {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 335px;
  height: 1171px;
  padding: 20px;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  overflow-y: auto;

  background-color: #FFFFFF;
}

.r-modal-close-btn {
  width: 24px;
  height: 24px;
  border: none;
  position: absolute;
  right: 14px;
  top: 14px;
  cursor: pointer;
}

.r-modal-close-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  fill: rgba(0, 0, 0, 0);
}

.r-modal-name {
  padding-bottom: 14px;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.r-modal-video {
  max-width: 295px;
  height: 295px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.r-modal-info-container {
  display: flex;
  margin-bottom: 32px;
}

.r-modal-tags {
  display: flex;
  flex-wrap: wrap;
  width: 258px;
  height: 30px;
  gap: 8px;
  margin-bottom: 14px;
  overflow-y: scroll;
}

.r-modal-tag {
  height: 30px;
  padding: 8px 16px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  border-radius: 35px;

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.r-modal-rating-container {
  display: flex;
  align-items: center;
  min-width: 185px;
  height: 18px;
  gap: 16px;

}

.r-modal-rating {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: rgba(5, 5, 5, 0.5);
}

.r-modal-star-wrap {
  display: flex;
}

.r-modal-rating-icon {
  fill: inherit;
  background-color: #9BB537;
}

.r-modal-time {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: rgba(5, 5, 5, 0.5);
}

.r-modal-ingerdients-container {
  margin-bottom: 24px;
  max-width: 295px;
  height: 224px;
  overflow-y: scroll;
}

.r-modal-ingerdients-name {
  display: flex;
  padding-bottom: 8px;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  border-bottom: 1px solid rgba(5, 5, 5, 0.1);

}

.r-modal-ingerdients-value {
  margin-left: auto;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(5, 5, 5, 0.5);
}

.r-modal-instructions {
  margin-bottom: 32px;
  width: 295px;
  height: 288px;
  overflow-y: scroll;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.r-modal-btn-container {
  display: flex;
  gap: 10px;
}

.r-modal-favorite-btn {
    Width: 148px;
    Height: 41px;
    padding: 12px 24px;
    background: #9BB537;
    border-radius: 15px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #F8F8F8;
  
    cursor: pointer;
    font-family: inherit;
    border: none;
}

.r-modal-rating-btn {
    Min-width: 133px;
    Height: 41px;
    padding: 12px 24px;
    background: transparent;
    border: 1px solid #9BB537;
    border-radius: 15px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #050505;
  
    cursor: pointer;
    font-family: inherit;
}

.r-modal-favorite-btn:hover,
.r-modal-favorite-btn:focus {
  color: rgba(5, 5, 5, 1);
}

.r-modal-rating-btn:hover,
.r-modal-rating-btn:focus {
  background: rgba(155, 181, 55, 1);
  color: rgba(248, 248, 248, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

@media screen and (min-width: 768px) {
  .r-modal {
    min-width: 531px;
    height: 905px;
    padding: 32px;
  }

  .r-modal-video {
    min-width: 467px;
    height: 250px;
    margin-top: 38px;
    margin-bottom: 16px;
  }

  .r-modal-name {
    position: absolute;
    top: 32px;
    left: 32px;
  }

  .r-modal-rating-container {
    margin-left: auto;
  }

  .r-modal-tags {
    position: absolute;
    top: 336px;
    left: 32px;
  }

  .r-modal-instructions {
    width: 467px;
    height: 162px;
  }

  .r-modal-rating-container {
    margin-left: auto;
    gap: 8px;
  }

  .r-modal-info-container {
    width: 467px;
    height: 30px;
  }

  .r-modal-ingerdients-container {
    min-width: 467px;
    height: 204px;
  
  }
}

@media screen and (min-width: 768px) {

}