@media screen and (max-width: 767px) {
  @media screen and (min-width: 428px) {
    .container {
      width: 428px;
    }
  }
  .button {
    background-color: rgba(155, 181, 55, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
  }

  .content {
    display: flex;
    gap: 4px;
    justify-content: center;
  }
  .button-left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(5, 5, 5, 1);
  }
  .button-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input-icon-right {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: rgba(5, 5, 5, 1);
  }
  .button-link {
    font-family: Inter;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 30px;
    width: 30px;
    font-size: 16px;
    cursor: pointer;
  }
  .input-icon {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: rgba(248, 248, 248, 0.5);
  }
  .link {
    font-size: 14px;
    text-decoration: none;
    color: inherit;
  }

  .button-link.active {
    background-color: rgba(155, 181, 55, 1);
  }
  .button-link:hover,
  .button-link:focus {
    background-color: rgba(155, 181, 55, 1);
  }
}

@media screen and (min-width: 767px) {
  @media screen and (min-width: 767px) {
    .container {
      width: 768px;
    }
  }
  .button {
    background-color: rgba(155, 181, 55, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50px;
    cursor: pointer;
  }

  .content {
    margin-left: 250px;
    display: flex;
    gap: 4px;
    justify-content: center;
  }
  .button-left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(5, 5, 5, 1);
  }
  .button-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input-icon-right {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: rgba(5, 5, 5, 1);
  }
  .button-link {
    font-family: Inter;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    height: 44px;
    width: 44px;
    font-size: 16px;
    cursor: pointer;
  }
  .input-icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: rgba(248, 248, 248, 0.5);
  }
  .link {
    font-size: 16px;
    text-decoration: none;
    color: inherit;
  }

  .button-link.active {
    background-color: rgba(155, 181, 55, 1);
  }
  .button-link:hover,
  .button-link:focus {
    background-color: rgba(155, 181, 55, 1);
  }
}
