.button {
  background-color: rgba(155, 181, 55, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}

.content {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
.button-left {
  background-color: rgba(5, 5, 5, 1);
}
.input-icon-right {
  fill: rgba(5, 5, 5, 1);
}
.button-link {
  font-family: Inter;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 40px;
  width: 40px;
  font-size: 18px;
  cursor: pointer;
}
.input-icon {
  fill: rgba(248, 248, 248, 0.5);
}
.link {
  text-decoration: none;
  color: rgba(5, 5, 5, 1);
}

.button-link:hover,
.button-linkk:focus {
  background-color: rgba(155, 181, 55, 1);
  text-decoration: none;
  color: rgba(5, 5, 5, 1);
}
