@import url('./header.css');
@import url('./burger-menu.css');
@import url('./categories.css');
@import url('./filter_and_recipes.css');
@import url('./footer.css');
@import url('./hero.css');
@import url('./modal_window_recipe.css');
@import url('./modal_order.css');
@import url('./modal_rating.css');
@import url('./popular_recipes.css');
@import url('./pagination.css');

body {
  background-color: #f8f8f8;
  color: #050505;
  font-family: Inter;
  font-weight: 500;
}

button,
a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

html {
  scroll-behavior: smooth;
}
