@import url('./header.css');
@import url('./burger-menu.css');
@import url('./categories.css');
@import url('./filter_and_recipes.css');
@import url('./footer.css');
@import url('./hero.css');
@import url('./modal_window_recipe.css');
@import url('./modal_order.css');
@import url('./modal_rating.css');
@import url('./popular_recipes.css');
@import url('./pagination.css');
@import url('./theme.css');

/* add favorites css */
@import url('./favorites/_my_favorites.css');
/* add favorites css */

body {
  background-color: #f8f8f8;
  color: #050505;
  font-family: Inter;
  font-weight: 500;
}

button,
a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* add favorites css */
/* @media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
} */
/* add favorites css */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .recipe-container {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

html {
  scroll-behavior: smooth;
}
