

/* DEFAULT */
body.dark-theme {
    background-color: #161616;
    color: #F4F4F4;
    
}

#theme-toggle-dark,
#theme-toggle {

    position: relative;
    top: 5px;
    width: 46px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 60px;
    box-shadow: 7px 5px 15px 0px rgba(160, 158, 160, 0.60);
    transition: 0.7s;
}
#theme-toggle-dark:checked,
#theme-toggle:checked {box-shadow: 7px 5px 15px 0px rgba(22, 22, 22, 0.60);

  background: #9BB537
}
#theme-toggle-dark::before,
#theme-toggle:before {
  content: '';
  position: absolute;
  width: 17.5px;
  height: 17.5px;
  border-radius: 17.5px;
  top: 0.5;
  left: 1.5;
  background: #ffffff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: .5s;
}
#theme-toggle-dark:checked::before,
#theme-toggle:checked:before {
  left: 25.5px;
}
/* MOBILE MENU */
body.dark-theme .mobile-menu {background-color: #050505; width: 50vw;}
/* HEADER */
body.dark-theme .header-link-home:hover, body.dark-theme .header-link-favorites:hover{fill: #9BB537;}
/* HERO */
body.dark-theme .btnOrderNow {background-color: #161616;}
body.dark-theme span.swiper-pagination-bullet{background-color: #fff;}
body.dark-theme span.swiper-pagination-bullet-active {background-color: #9bb537;}
/* FILTER */
body.dark-theme .categories-btn {color: rgba(255, 255, 255, 0.50);
  border-color: rgba(255, 255, 255, 0.20);}
body.dark-theme .categories-btn:hover, body.dark-theme .categories-btn:focus {  color: #F8F8F8;}
  body.dark-theme .filter-item-tittle{color: rgba(255, 255, 255, 0.50);}
  body.dark-theme .filter-item-time {color: rgba(255, 255, 255, 0.50);}
  body.dark-theme .filter-item-time:hover, body.dark-theme .filter-item-time:focus {color: #fff}

  body.dark-theme .filter-item-ingredients {color: rgba(255, 255, 255, 0.50);}
  body.dark-theme .filter-item-ingredients:hover, body.dark-theme .filter-item-ingredients:focus {color: #fff} 
  body.dark-theme .filter-item-area {color: rgba(255, 255, 255, 0.50);}
  body.dark-theme .filter-select-wrap{border-color: rgba(255, 255, 255, 0.20);}
  body.dark-theme .filter-item-area:hover,   body.dark-theme .filter-item-area:focus {color: #fff;}
 body.dark-theme .filter-form-select{color: rgba(255, 255, 255, 0.50);}
  body.dark-theme .filter-form-input{border-color: rgba(255, 255, 255, 0.20);}
  body.dark-theme.js-filter-select-wrap.open .js-filter-form-select-dropdown::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.10);
    border-radius: 12px;}
  body.dark-theme .js-filter-select-wrap.open .js-filter-form-select-dropdown {color: rgba(255, 255, 255, 0.50);
  background-color: #050505;;}
  body.dark-theme .is-highlighted{color: #FFF;}
  body.dark-theme .js-filter-select-wrap.open .js-filter-form-select-dropdown::-webkit-scrollbar-thumb{background-color: #fff;}
  body.dark-theme .js-categories-item-btn{color: rgba(255, 255, 255, 0.30);}
  body.dark-theme .js-categories-item-btn:hover,  body.dark-theme .js-categories-item-btn:focus{color: #9bb537}
  body.dark-theme .categories-scrollbar::-webkit-scrollbar-thumb{background-color:rgba(255, 255, 255, 0.30); ;}
/* ORDER NOW MODAL */
body.dark-theme .order-form-wrapper {
  background-color: #050505;
  border-color: #050505;
  box-shadow: none;
}
body.dark-theme .backdrop {background: #050505c9;}
body.dark-theme .form-input, .modal-textarea{background-color: inherit; border-color: rgba(255, 255, 255, 0.20);color: rgba(255, 255, 255, 0.50);
  }

body.dark-theme .form-input::placeholder, .modal-textarea::placeholder{color: rgba(255, 255, 255, 0.50);}
/* POPULAR */
body.dark-theme .paragraph-popular{color: rgba(255, 255, 255, 0.80);}
/* GALLERY */
body.dark-theme .filter-gallery-item-description{color: rgba(255, 255, 255, 0.80);}
body.dark-theme .button-link {background-color: inherit;color: inherit;
border-color: rgba(255, 255, 255, 0.30);}
/* FOOTER */
body.dark-theme .footer_link {color: inherit;cursor: pointer;}
body.dark-theme .footer_link:hover,  .footer_link:focus{color: #9BB537;}
body.dark-theme .footer_container>p {font-weight: normal;}